<style>
        h1{
                text-align: center;
                font-family: Roboto, sans-serif;
                text-decoration: underline;
                background-color: #F7CD7C;
                padding: 20px;
                max-width: 60%;
                border-radius: 5px;
                margin : auto;

        }
        h2{
                text-align: center;
                font-family: Roboto, sans-serif;
                font-weight: bold;
        }
        p{
                text-align: center;
                font-weight: bold;
                font-family: Roboto, sans-serif;
        }
</style>
<h1>Erreur 404</h1>

<h2>
        La page que vous avez demandée n'existe pas ! :(
</h2>

<p></p>